## Settings file was created by plugin WorldAdvancementProgression v0.0.18
## Plugin GUID: com.orianaventure.mod.WorldAdvancementProgression

[Auto-Scaling]

## Enabled the Auto-scaling feature (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: false
EnableAutoScaling = false

## Auto-scaling type: Vanilla, Linear, or Exponential (string). [Synced with Server]
# Setting type: String
# Default value: Vanilla
AutoScaleType = Linear

## Auto-scaling factor, 0.75 = 75% growth per biome "difficulty order" (float). [Synced with Server]
# Setting type: Single
# Default value: 0.75
AutoScaleFactor = 0.75

## Auto-scale Creatures (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: true
AutoScaleCreatures = true

## Override the Base Health distribution for Creatures (comma-separated list of 6 integers) (string). [Synced with Server]
# Setting type: String
# Default value: 
AutoScaleCreaturesHealth = 

## Override the Base Damage distribution for Creatures (comma-separated list of 6 integers) (string). [Synced with Server]
# Setting type: String
# Default value: 
AutoScaleCreaturesDamage = 

## When True ignores ALL default classifications assigned by the mod, use to keep vanilla values unless specifically overridden in the yaml file (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: false
AutoScaleCreaturesIgnoreDefaults = false

## Auto-scale Items (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: true
AutoScaleItems = true

## When True ignores ALL default classifications assigned by the mod, use to keep vanilla values unless specifically overridden in the yaml file (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: false
AutoScaleItemsIgnoreDefaults = false

[General]

## Force Server Config (boolean) [Synced with Server]
# Setting type: Boolean
# Default value: true
Force Server Config = true

## Enable module (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: true
Enabled = true

## Finds all items and creatures and creates data files in your config path for viewing only (boolean). [Not Synced with Server]
# Setting type: Boolean
# Default value: false
GenerateGameDataFiles = false

[Keys]

## True to stop all global keys from being added to the global list (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: true
BlockAllGlobalKeys = true

## Stop only these keys being added to the global list when BlockAllGlobalKeys is false (comma-separated). [Synced with Server]
# Setting type: String
# Default value: 
BlockedGlobalKeys = 

## Allow only these keys being added to the global list when BlockAllGlobalKeys is true (comma-separated). [Synced with Server]
# Setting type: String
# Default value: 
AllowedGlobalKeys = 

## True to use private player boss keys to control skill floor/ceiling values (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: false
UseBossKeysForSkillLevel = false

## True to use private player keys, False to use the public key system (When UseBossKeysForSkillLevel is true) (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: true
UsePrivateBossKeysForSkillLevel = true

## Skill drain floor and skill gain ceiling increased this amount per boss defeated (boolean). [Synced with Server]
# Setting type: Int32
# Default value: 10
BossKeysSkillPerKey = 10

[Skills]

## Enable the Skill Manager feature (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: true
EnableSkillManager = true

## Enable skill drain on death (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: true
AllowSkillDrain = true

## Reduce skills by a set number of levels (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: false
UseAbsoluteSkillDrain = false

## The number of levels (When UseAbsoluteSkillDrain is true) (int). [Synced with Server]
# Setting type: Int32
# Default value: 1
AbsoluteSkillDrain = 1

## Enable comparing skill drain original vs absolute value (When UseAbsoluteSkillDrain is true) (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: false
CompareAndSelectDrain = false

## True to use the smaller value (When CompareAndSelectDrain is true) (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: true
CompareUseMinimumDrain = true

## Override the maximum (ceiling) skill level for all skill gain (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: false
OverrideMaximumSkillLevel = false

## If overridden, the maximum (ceiling) skill level for all skill gain (int). [Synced with Server]
# Setting type: Int32
# Default value: 100
MaximumSkillLevel = 100

## Override the minimum (floor) skill level for all skill loss (boolean). [Synced with Server]
# Setting type: Boolean
# Default value: false
OverrideMinimumSkillLevel = false

## If overridden, the minimum (floor) skill level for all skill loss (int). [Synced with Server]
# Setting type: Int32
# Default value: 0
MinimumSkillLevel = 0

