## Settings file was created by plugin Better Networking v2.0.2
## Plugin GUID: CW_Jesse.BetterNetworking

[Logging]

## Better Network's verbosity in console/logs.
# Setting type: Options_Logger_LogLevel
# Default value: message
# Acceptable values: warning, message, info
Log Level = message

[Networking]

## Requires restart./nCrossplay enabled: Forces dedicated servers to use new PlayFab networking stack./nCrossplay disabled: Forces dedicated servers to use Steamworks network stack./nVanilla behaviour: Listen for -crossplay flag.
# Setting type: Options_ForceCrossplay
# Default value: vanilla
# Acceptable values: vanilla, playfab, steamworks
Force Crossplay = vanilla

## Most people will want to keep this enabled.
## ---
## PlayFab/Steamworks: Increases speed and strength of network compression.
## Steamworks: Adds network compression.
# Setting type: Options_NetworkCompression
# Default value: true
# Acceptable values: true, false
Compression Enabled = true

## PlayFab/Steamworks: Allows you to reduce how often your computer sends updates. Can reduce network stress.
# Setting type: Options_NetworkUpdateRates
# Default value: _100
# Acceptable values: _100, _75, _50
Update Rate = _100

## If others experience lag/desync for things <i>around</i> you, increase your queue size.
## ---
## If your <i>character</i> is lagging for others, decrease your update rate and/or queue size.
# Setting type: Options_NetworkQueueSize
# Default value: _1024
# Acceptable values: _10240, _1024, _512, _128, _10
Queue Size = _1024

[Networking (Steamworks)]

## Steamworks: The minimum speed Steam can <i>attempt</i> to send data.
## <b>Lower this below your internet upload speed.</b>
# Setting type: Options_NetworkSendRateMin
# Default value: _300
# Acceptable values: _400, _300, _200, _150, _100, _50
Minimum Send Rate = _300

## Steamworks: The maximum speed Steam can <i>attempt</i> to send data.
## If you have a low upload speed, lower this <i>below</i> your internet upload speed.
# Setting type: Options_NetworkSendRateMax
# Default value: _INF
# Acceptable values: _INF, _400, _300, _200, _150, _100, _50
Maximum Send Rate = _INF

