## Settings file was created by plugin ValkeaBuildII v1.1.3
## Plugin GUID: TheBeesDecree.ValkeaBuildII

[General]

## Force Server Config [Synced with Server]
# Setting type: Boolean
# Default value: true
Force Server Config = true

[item_BJORKSNASxx]

## Crafting station where item_BJORKSNASxx is available.
# Setting type: CraftingTable
# Default value: Workbench
# Acceptable values: Disabled, Inventory, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, Custom
Crafting Station = Workbench

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Required crafting station level to craft item_BJORKSNASxx.
# Setting type: Int32
# Default value: 1
Crafting Station Level = 1

## Maximum crafting station level to upgrade and repair item_BJORKSNASxx.
# Setting type: Int32
# Default value: 3
Maximum Crafting Station Level = 3

## Item costs to craft item_BJORKSNASxx
# Setting type: String
# Default value: FineWood:1,QueenBee:1,Coins:99
Crafting Costs = FineWood:1,QueenBee:1,Coins:99

## Item costs per level to upgrade item_BJORKSNASxx
# Setting type: String
# Default value: Coins:99
Upgrading Costs = Coins:99

## Creatures item_BJORKSNASxx drops from
# Setting type: String
# Default value: 
Drops from = 

## Weight of item_BJORKSNASxx.
# Setting type: Single
# Default value: 2
Weight = 2

## Trader value of item_BJORKSNASxx.
# Setting type: Int32
# Default value: 0
Trader Value = 0

## Durability of item_BJORKSNASxx.
# Setting type: Single
# Default value: 100
Durability = 100

## Durability gain per level of item_BJORKSNASxx.
# Setting type: Single
# Default value: 100
Durability per Level = 100

## Movement speed modifier of item_BJORKSNASxx.
# Setting type: Single
# Default value: 0
Movement Speed Modifier = 0

